{% if page.tags %}
{% capture tags %}
{% for tag in page.tags %}
<span class="label  label--category"><a
    href="{{ site.baseurl }}/tags/#{{ tag | downcase }}">{{ tag }}</a></span>{% if forloop.last == false %},{% endif %}
{% endfor %}
{% endcapture %}
{% endif %}

<small class="small  post-meta">
  {% assign date_format = site.date_format | default: "%d %b %Y" %}
  {{ tags | append: "&nbsp;&middot;&nbsp;" }}<time datetime="{{ page.date | date_to_xmlschema }}"
    class="time">{{ page.date | date: date_format }}</time>
</small>